#skills{
    background: var(--color3);
}

#skills #container-content{
    padding: 100px 0;
    text-align: center;
}

#skills #container-skills{
    margin: 100px auto;
    padding: 20px;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*#skills .container-content-bubble{*/
/*    position: absolute;*/
/*}*/
