#skills{
    background: var(--color3);
}

#skills #container-content{
    padding: 100px 0;
    text-align: center;
}

#skills #container-skills{
    margin: 100px auto;
    padding: 20px;
    overflow: hidden;
    width: 550px;
    justify-content: center;
}
