#resume{
    background: var(--color1);
}

#resume #resume-content{
    min-height: calc(100vh - 100px);
}

@media only screen and (max-width: 950px) {
    :root{
        --resume-padding: 50px;
    }
}
