/*.bubble{*/
/*    width: min-content;*/
/*    height: min-content;*/
/*}*/

.container-content-bubble:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 1s;
}

.container-content-bubble{
    background-color: var(--color1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
